# discord bot secrets
DISCORD_CLIENT_TOKEN = "Your discord bot token"
DISCORD_CLIENT_ID = "Your discord bot id"
DISCORD_CLIENT_SECRET = "Your bot secret"

# spotify client secrets
SPOTIFY_CLIENT_ID = "Your spotify client id"
SPOTIFY_CLIENT_SECRET = "Your spotify client secret"

# myanimelist client config
# For future use not required
MYANIMELIST_CLIENT_ID = "Your myanimelist.net api client id"
MYANIMELIST_CLIENT_SECRET = "Your myanimelist.net api client secret"

# mongodb DataBase URL
MONGO_URI = "MongoDB URL"

# bot configs
DEFAULT_PREFIX = "Your bots default prefix"
OWNER_ID = "Your discord id"
SERVER_ID = "Your server id"
DEVELOPER_IDS = ["Your bot devs discord id"] # like this ["52735537569","135267238565634"]


# ERROR WebHooks Config
ERROR_WEBHOOK_URL = "Url of a webhook to log errors"
