* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #000d20;
    color: #fff;
    font-family: Montserrat;
    min-height: 100vh;
}

body {
    padding: 0.75rem;
}

a {
    color: #98c167;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.bot-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot-content h2 {
    color: #98c167;
    padding: 0.25rem 2rem;
    border: 3px dotted #98c167;
    text-transform: uppercase;
    border-radius: 10px;
}

.bot-content p {
    margin-left: 10px;
}

.container {
    justify-content: space-between;
    bottom: 0px;
}

.social-media-links {
    display: flex;
    margin-top: 30px;
}
.social-media-links li {
    margin-left: 10px;
}

.social-media-links li a {
    background: #011b41;
    padding: 4px 7px;
    border-radius: 4px;
}

.copyright {
    margin-top: 30px;
}

.docs {
    position: fixed;
    display: flex;
    padding: 0.5rem 2rem;
    background: #011b41;
    right: 15px;
    bottom: 20px;
    z-index: 996;
    transition: all 0.4s;
    border-radius: 4px;
}
